
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  box-sizing: border-box;
}
.error-notification{
  background-color: #ef4452;
  color: white;
}
.successful-notification{
  background-color: #497f0b;
  color: white;
}
.dialog .mat-dialog-container{
padding: 0;
}
